# OS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Virtual env
.venv/

# Generated cases and media
src/CASES/
media/

# Manim cache (if any)
**/partial_movie_files/

# Local assets cache (optional)
src/assets/icon/

# Byte-compiled, log
*.log
